<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT blogPage ANY>
<!ATTLIST blogPage id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1147" key="7bd5a7c2-ef52-4ae7-b352-501a6c4de20a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-13T18:38:47" updateDate="2017-10-16T21:57:11" nodeName="Home" urlName="home" path="-1,1147" isDoc="" nodeType="1146" creatorName="Manohar" writerName="Manohar" writerID="0" template="1145" nodeTypeAlias="homePage">
    <siteName><![CDATA[Umbraco Demo]]></siteName>
    <FooterText><![CDATA[Sitecore COE Copyright 2017]]></FooterText>
    <backgroundImage><![CDATA[umb://media/a3cbc3c6c63c4ede985cd6c240e96ab9]]></backgroundImage>
    <bannerDescription><![CDATA[<p><span>Find the best restaurant deals, discounts and offers</span></p>]]></bannerDescription>
    <buttonText><![CDATA[Find a Restaurant]]></buttonText>
    <bannerText><![CDATA[Top Restaurants]]></bannerText>
    <blogPage id="1152" key="b5669ce8-1ed5-470c-89dd-60d5ff8e143a" parentID="1147" level="2" creatorID="0" sortOrder="0" createDate="2017-10-16T12:32:23" updateDate="2017-10-16T21:57:59" nodeName="Blog" urlName="blog" path="-1,1147,1152" isDoc="" nodeType="1151" creatorName="Manohar" writerName="Manohar" writerID="0" template="1150" nodeTypeAlias="blogPage">
      <blogT><![CDATA[Food Blogs]]></blogT>
      <backgroundImage><![CDATA[umb://media/4a8a03e8dd1740149d91d38718e3d5ef]]></backgroundImage>
      <blogItem id="1159" key="c7b5e019-5c2a-4993-b69d-beec2845b04c" parentID="1152" level="3" creatorID="0" sortOrder="0" createDate="2017-10-16T16:01:09" updateDate="2017-10-16T20:12:07" nodeName="JW Marriott" urlName="jw-marriott" path="-1,1147,1152,1159" isDoc="" nodeType="1158" creatorName="Manohar" writerName="Manohar" writerID="0" template="1157" nodeTypeAlias="blogItem">
        <blogTeaserImage><![CDATA[umb://media/170543adc7c040b591dea6bcb1c1c379]]></blogTeaserImage>
        <blogTitle><![CDATA[JW Marriott]]></blogTitle>
        <blog><![CDATA[<p><span><strong><em>Alba</em></strong> is located in JW Marriott, Bengaluru / Bangalore which is one of the signature Italian restaurants in the town, read my previous review on </span><a href="http://www.rohitdassani.com/2016/04/alba-italian-marriott.html"><strong>Alba here</strong></a><span>. The restaurant is currently being headed by Chef Marou, who is an expert in Italian cooking with over 13 years of extensive industry expertise. <em>"Chef Marou"</em> is known for his eloquent personality and positive attitude towards life. Alba is one place where luxury dinning takes the center stage, everything about Alba is different</span></p>
<p><span>The new menu at Alba has some really interesting dish. Most of the dishes are made with fresh vegetables and cheese making them even more appealing.</span></p>
<p><span><em>Chef Marou</em> recently introduced a new menu consisting of many Italian delicacies. We tried these dishes with wine pairing and number of drinks from the menu. To compliment we tried the house made fresh Pita Garlic Breads. The breads are cut in triangles and were delicious. The Regina Margarita Pizza consisting of Fresh Mozzarella, tomatoes and basil is a must try. The pizza was ultra-light and the freshness of the mozzarella and tomato sauce was evident. The Burrata was made with fresh Creamy Buffalo mozzarella, heirloom tomatoes, basil, onions and olive oil. The olive oil dressing was quite strong which gave the mozzarella the much needed flavoring.</span></p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></blog>
        <blogTeaser><![CDATA[The new menu at Alba, JW Marriott]]></blogTeaser>
        <BlogshortDescription><![CDATA[Alba is located in JW Marriott, Bengaluru / Bangalore which is one of the signature Italian restaurants in the town, read my previous review on]]></BlogshortDescription>
        <blogBanner><![CDATA[umb://media/8b3c2f13573a4cb8b7221ecf9040d74c]]></blogBanner>
      </blogItem>
      <blogItem id="1160" key="bfd12716-d934-4d03-b5fa-777a750061a0" parentID="1152" level="3" creatorID="0" sortOrder="1" createDate="2017-10-16T16:02:29" updateDate="2017-10-16T21:38:47" nodeName="Ebony" urlName="ebony" path="-1,1147,1152,1160" isDoc="" nodeType="1158" creatorName="Manohar" writerName="Manohar" writerID="0" template="1157" nodeTypeAlias="blogItem">
        <blogTeaserImage><![CDATA[umb://media/55c27a965cb34512927998645ae125a2]]></blogTeaserImage>
        <blogTitle><![CDATA[Ebony - 13th floor]]></blogTitle>
        <blog><![CDATA[<p class="abt">It does not get more romantic than this. An al fresco restaurant perched 200 feet high among the clouds, lit by a canopy of stars and with the beautiful garden city of Bangalore spread at its feet....Ebony had been wow-ing clientele for more than two decades with its eclectic mix of cuisines, un-obtrusive service and unsurpassable setting.</p>
<p class="abt">Sitting on the 13th floor of Barton Centre on M G Road, the restaurant serves an unusual mix of Pan - Indian and Parsee classics, with a few European and South Asian favourites thrown in for good measure.</p>
<p class="abt">Ebony celebrates food that is unpretentious in nature, timeless in its appeal and needless to say prepared to ellipse all other senses.</p>
<p class="abt">With an extensive cocktail menu and a vast number of seating options the restaurant is an ideal choice of an intimate diner, a family gathering or even a corporate celebration. Ample reserved parking for more than 70 cars for dinner means you never have that sticky decision to make.</p>
<p class="abt"><em>"Dinners at Ebony are a la carte, but with a host of custom designed set-course menus to choose from, planning a memorable evening out within a budget was never so easy."</em></p>
<p class="abt">Lunches at Ebony between Monday and Friday are the VFM (Value for Money) Executive Lunch buffets. The best of our Indian, Asian and European selections in a buffet spread featuring close to 18 dishes in 4 courses. And all this for an unbeatable price of Rs.395.00 plus taxes and levies.</p>
<p class="abt">Saturday’s are our World on Plate Buffet featuring a truly expansive 5 course buffet with many signature dishes from our Indian, Tandoor, Parsee, European and Asian repertoire. This truly One Size Fits all buffet has something in it for all tastes and all appetites. And at Rs.495.00 plus taxes and levies, there is no better way to kick start your weekend.</p>]]></blog>
        <blogTeaser><![CDATA[Feel the Wind in Your Hair]]></blogTeaser>
        <BlogshortDescription><![CDATA[It does not get more romantic than this. An al fresco restaurant perched 200 feet high among the clouds, lit by a canopy of stars and with the beautiful garden city of Bangalore spread at its feet]]></BlogshortDescription>
        <blogBanner><![CDATA[umb://media/266fd5d193904c7998c9f8610e674d01]]></blogBanner>
      </blogItem>
      <blogItem id="1182" key="f38b23d2-2748-486e-82eb-631be39541ca" parentID="1152" level="3" creatorID="0" sortOrder="2" createDate="2017-10-16T21:40:07" updateDate="2017-10-16T21:46:45" nodeName="High" urlName="high" path="-1,1147,1152,1182" isDoc="" nodeType="1158" creatorName="Manohar" writerName="Manohar" writerID="0" template="1157" nodeTypeAlias="blogItem">
        <blogTeaserImage><![CDATA[umb://media/e419aad1eba949ea832f537cf718ba25]]></blogTeaserImage>
        <blogTitle><![CDATA[High Ultra Lounge]]></blogTitle>
        <blog><![CDATA[<p>After a hard week’s work there are very few things that will revive you like sipping on a beer or hanging out with friends at a lounge bar. The conjunction of good food with good alcohol is something that makes us smile especially if we recall the deadlines and the overtime, all the inconvenience that we had to bear with to get through the week.</p>
<p>Even though the city deadline or curfew has been raised to 1 am for Friday and Saturday, it is still a disappointment for people who complete a 40-hour week, to just an get an extension of two hours to their disposal.</p>
<p>So if you’re one of these people and are feeling the dire need to just rejuvenate and forget all about work, you could simply lounge at our Best lounge bar that offers a great view, scrumptious food, cream crowd and only the finest alcohol. Let’s just say you’re sure to get high at our lounge bar which is located on a height of 421 that also makes it the highest place to get high in the entire South India. With a contemporary Asian bar and restaurant, there is no dearth of good food or even more amazing cocktails. They offer Pan-Asian food and signature cocktails made with unique ingredients. Why it is such a luxury to lounge yourself is because apart from the premium tag that comes with simply just visiting this place, it transports you to another world that is different from your everyday life. It is a great way to getaway or escape and catch up with your family and friends.</p>
<p>High Ultra Lounge is a good value for money considering the impeccable quality of service that comes along with the delicious food and lavish alcohol. All we can say is, you have to try it to believe it. So next time you have a few hours to spare and a few friends to meet, come on over to High!</p>]]></blog>
        <blogTeaser><![CDATA[The High Experience – Best Lounge Bar]]></blogTeaser>
        <BlogshortDescription><![CDATA[After a hard week’s work there are very few things that will revive you like sipping on a beer or hanging out with friends at a lounge bar.]]></BlogshortDescription>
        <blogBanner><![CDATA[umb://media/9ddf61e372be4d2eba749d2e3d1eb94e]]></blogBanner>
      </blogItem>
    </blogPage>
    <textPage id="1155" key="8bff0f20-01a6-4478-8d42-f291717743f7" parentID="1147" level="2" creatorID="0" sortOrder="1" createDate="2017-10-16T12:59:05" updateDate="2017-10-16T21:58:45" nodeName="About Us" urlName="about-us" path="-1,1147,1155" isDoc="" nodeType="1149" creatorName="Manohar" writerName="Manohar" writerID="0" template="1148" nodeTypeAlias="textPage">
      <title><![CDATA[About Us]]></title>
      <subTitle><![CDATA[This is what we do]]></subTitle>
      <bo><![CDATA[<p>This post is for food bloggers and food blog readers alike! My hope here is just to bring up a little think/talk/virtual coffee date sesh about what food bloggers should write about. Food bloggers, let’s think about what you like to write about, and food blog readers, let’s think about what you like to read about, because that’s sort of the end goal here. A matchy match on both sides of the story.</p>
<p>Every once in a while, I sit down at the computer to write a post and my brain is literally empty. Zero words. No thoughts. BLEH. And by every once in a while I mean all the time lately. Usually I am overflowing with words and thoughts and ideas and random stories that I feel an urgent need to share on a food blog (?), but somehow that just *poof* disappears when I try to write at times like 11pm or 5am, which has kind of been the norm as of lately.</p>]]></bo>
      <quote><![CDATA[“If you really want to make a friend, go to someone’s house and eat with him… The people who give you their food give you their heart.” Cesar Chavez]]></quote>
      <backgroundImage><![CDATA[umb://media/3f41124af3594e1f967cb993653a1b42]]></backgroundImage>
    </textPage>
    <contact id="1156" key="63be9431-dccc-40f6-a20b-0988101883c6" parentID="1147" level="2" creatorID="0" sortOrder="2" createDate="2017-10-16T13:00:42" updateDate="2017-10-16T21:59:15" nodeName="Contact Us" urlName="contact-us" path="-1,1147,1156" isDoc="" nodeType="1154" creatorName="Manohar" writerName="Manohar" writerID="0" template="1153" nodeTypeAlias="contact">
      <title><![CDATA[contact us]]></title>
      <backgroundImage><![CDATA[umb://media/6db36bdaa271412baa3ef1cf5af581b3]]></backgroundImage>
    </contact>
  </homePage>
</root>